@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200,400,600,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fbfceb;
}

.navbar {
    background-color: #0f402e;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: #fafad3;
    text-decoration: none;
    font-weight: 600;
}

.navbar a:hover {
    color: #fbfceb;
}

header {
    background-color: #145940;
    text-align: center;
    padding: 40px 20px;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-custom {
    max-width: 100%;
    margin: 0 auto;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    background-color: #0f402e;
}

#carouselExampleFade {
    padding: 20px 0;
}

.imagemContainer {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.imagemItem {
    width: 100%;
    max-width: 320px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }

    header h1 {
        font-size: 2rem;
    }

    .imagemContainer {
        gap: 10px;
    }

    .imagemItem {
        max-width: 100%;
    }


    .carousel-inner img {
        max-height: 300px;
    }
}


header, .navbar {
    background-color: #0f402e; 
}

footer {
    background-color: #b2b377; 
    color: #333;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.info-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2, h3 {
    color: #51532b;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.btn, .nav-link {
    background-color: #0f402e;
    color: #fafad3;
    border-radius: 6px;
    padding: 8px 12px;
    text-decoration: none;
}

.btn:hover, .nav-link:hover {
    background-color: #145940;
    color: #fbfceb;
}
