@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fbfceb;
}

.navbar {
    background-color: #0f402e;
}

.navbar-brand,
.nav-link {
    color: #fafad3;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #fbfceb;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #145940;
    color: #fff;
}

h1 {
    font-size: 2rem;
}

.carousel-inner .carousel-item:first-child img {
    width: 100%;
    height: auto;
    max-height: 500px; 
    object-fit: cover; 
}

.carousel-inner .carousel-item img:not(:first-child) {
    max-width: 80%;
    margin: 10px;
    border-radius: 12px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
}

.imagemContainer {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.imagemItem {
    max-width: 280px; 
    width: 100%;
    height: auto;
    border-radius: 12px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #b2b377;
    color: #333;
}
